<div class="registered-user d-flex flex-row">
    <!-- sidebar -->
    <input type="checkbox" id="check" style="display: none;">
    <div class="sidebar">
        <!-- Brand container -->
        <div class="admin-brand-container d-flex align-items-center ">
            <figure class="dblogo ">
                <img src="../assets/images/db-icon.png" alt="dblogo">
            </figure>
            <h5 class="brand-title d-flex ms-2 mt-2 mb-0 d-none d-sm-block">DeskBook</h5>
        </div>
        <!-- End: Brand container -->

        <!-- sidebar navigation link -->
        <div class="sidebar-list d-flex flex-column justify-content-between">
            <div class="sidebar-links d-flex flex-column">
                <div class="list d-flex flex-row">
                    <img src="../assets/images/dashboard.png" alt="">
                    <span>Dashboard</span>
                </div>
                <div class="list d-flex flex-row">
                    <img src="../assets/images/seat-configuration.png" alt="">
                    <span>Seat Configuration</span>
                </div>
                <div class="list d-flex flex-row">
                    <img src="../assets/images/booking-history.png" alt="">
                    <span>Booking History</span>
                </div>
                <div class="list d-flex flex-row">
                    <img src="../assets/images/request-history.png" alt="">
                    <span>Request History</span>
                </div>
                <div class="list d-flex flex-row">
                    <img src="../assets/images/registered-user.png" alt="">
                    <span>Registered Users</span>
                </div>
            </div>
            <div class="list d-flex flex-row">
                <img src="../assets/images/logout.png" alt="">
                <span>Logout</span>
            </div>
        </div>
        <!-- sidebar navigation link -->
    </div>

    <!-- End: sidebar -->


    <div class="main d-flex align-items-start flex-column p-0">
        <div class="header d-flex align-items-center justify-content-between">
            <div class="hamburger">
                <label for="check"><img src="../assets/images/sidebar.png" alt="sidebar-hamburger"></label>
            </div>
            <div class="nav-icons d-flex gap-1 gap-sm-3 d-none d-lg-flex">
                <button class="btn btn-primary " type="button"><img src="../assets/images/notification.png"
                        alt="notification"></button>
                <button class="btn btn-primary " type="button"><img src="../assets/images/user.png" alt="user"></button>
            </div>
        </div>
        <div class="hero-section">
            <div class="heading d-flex flex-row align-items-center justify-content-between">
                <p>Registered Users</p>
                <div class="search-container">
                    <input type="text" name="search" id="" placeholder="Search...">
                    <img src="../assets/images/search.png" alt="">
                </div>
            </div>
            <div class="ms-4 me-4">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">NO.</th>
                            <th scope="col">Name</th>
                            <th scope="col">DATE OF JOINING</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">DESIGNATION</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                            <td>@fat</td>
                            <td>@fat</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>