.page-not-found{
    border-radius: 46px;
    background-color: #fbf9f9;
    box-shadow:  23px 23px 78px #c1c0c0,-23px -23px 78px #ffffff;
    padding: 20px;
    h1{
        font-size:200px;
        font-weight: 800;
    }
    p{
        font-size:25px;
    }
}