// overlay
.overlay {
    .overlay-form {

        // header block
        .block-header {
            padding: $header-padding;
            border-bottom: 2px solid $border-color ;

            // header title
            .block-title {
                font-size: $header-title;
                font-weight: 700;
                color: $header-title-color;

            }
        }
    }
}

// profile-image-details
.profile-image-details {
    gap: 40px;
    padding: 25px 30px;

    .profile-image-block {
        .edit-icon {
            right: -2px;
            bottom: -2px;
        }
    }

    .profile-image {
        height: fit-content;
        width: fit-content;

        img {
            height: 120px;
            width: 120px;
        }
    }

}

// userName-details inputs
.userName-details {
    input {
        font-size: 22px;
        font-weight: 700;
        border: none;
        outline: none;
        color: $userName-color;
    }



}

// edit-icon image
.edit-icon {
    img {
        height: 40px;
        width: 40px;
    }
}

// user-detail-block
.user-detail-block {
    padding: 25px 30px;
    gap: 40px;

    // personal info block
    .personal-info-block {
        .personal-info {
            gap: 25px;
            margin-top: 25px;
        }
    }

    // seat info block
    .seat-info-block {
        .seat-info {
            gap: 25px;
            margin-top: 25px;
        }
    }

    .seat-info {
        .days {
            margin-top: 25px;
            gap: 15px;

            .day {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 72px;
                height: 72px;
                border-radius: $border-radius-10;
                font-size: 16px;
                font-weight: 600;
            }

        }

        .seat-info-select-options-block-1 {
            gap: 30px;
        }

        .seat-info-select-options-block-2 {
            gap: 30px;
        }
    }

    .selected {
        background-color: $primary;
        color: #fff;
    }

    .unselected {
        background-color: $day-bg;
        color: $day-color;
    }

    //detail-information-title 
    .detail-information-title {
        font-size: $personal-information-title-font-size;
        color: $personal-information-title-font-color;
        font-weight: 600;
    }

    // input label
    label {
        position: relative;
        font-size: $label-font-size;
        color: $input-label-color;
        font-weight: 600;

        sup {
            position: relative;
            top: 0px;
            right: -1px;
            color: $input-label-asterisk-color;
            font-size: $label-font-size;
        }
    }

    input:disabled {
        background: #fff;
    }

    input,
    select {
        padding: 8px 10px;
        border: 1px solid $border-color;
        border-radius: $border-radius-1;
    }

    .info {
        gap: 6px;
    }
}

// hybrid-message
.seat-info {
    .hybrid-message {
        bottom: 0px;
        left: 40px;
        width: 200px;
        height: fit-content;
        font-size: 12px;
        border-radius: 4px;
        background: #f5f5f5;
        padding: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

// ng select 
.ng-select .ng-arrow-wrapper {

    display: none;
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: #fff;
}

//  dropdown-img
.dropdown-img {
    position: absolute;
    right: 20px;
    top: -27px;
    z-index: 1001;
    pointer-events: none;

}

.ng-dropdown-panel.ng-select-bottom {
    margin-top: 5px;
}

//  prince       
// Start: user profile view container

.overlay-main-container {
    overflow: hidden;
}

.overlay-form {
    overflow: auto;
}

// overlay header

// header block of overlay
.block-header {
    border-bottom: 1px solid $border-color;
    padding: 20px 30px;
    margin-bottom: 10px;
}

// header text of overlay
.block-title {
    font-size: $font-size-22;
    font-weight: 700;
}

// close button of overlay
.close-btn {
    border: none;
    background: transparent;

    // close icon of overlay
    .close-icon {
        height: 13px;
        width: 13px;
    }
}

//  user profile image and details 
.profile-container {
    gap: 35px;
    padding-left: 30px;

    // user profile image
    .profile-pic-container {
        height: 120px;
        width: 120px;

        // profile-pic
        .profile-pic {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    // user profile details
    .profile-details {

        // user name
        .profile-name {
            line-height: $line-height-40;
            font-size: $font-size-22;
            font-weight: 700;
        }

        // user email
        .profile-email {
            line-height: $line-height-30;
            font-size: $font-size-16;
            margin-bottom: 14px;
            font-weight: 600;
            color: $gray;
        }

        // profile edit-btn
        .profile-edit-btn {
            width: 100px;
            height: 30px;
            background-color: $primary;
            color: $btn-text-color;
            border: none;
            padding: 6px 12px;
            font-size: $font-size-11;
            border-radius: $border-radius-2;
        }

    }
}


// user profile form data 
.overlay-view-container {
    padding: 32px 43px 40px 30px;
    gap: 40px;

    // profile-info
    .user-profile-info {
        // margin-right: 40px;
        gap: 20px;

        // personal information text
        .container-text {
            color: $gray;
        }

        // info container
        .information-container {
            gap: 50px;
        }
    }
}

// rows info    
.info-container {
    gap: 17px;
    align-items: center;

    // label icon
    .info-icon {
        height: 40px;
        width: 40px;
    }

    // label text
    .info-label {
        font-size: $font-size-14;
        color: $gray;
    }

    // label data
    .info-data {
        font-size: $font-size-16;
    }
}


@media (min-width: 460px) {
    .col-sm-6 {
        width: 50%;
    }

}

form {
    .save-btn-block {
        margin-top: 50px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 15px 30px;

        .save-btn {
            font-size: $font-size-18;
            font-weight: 600;
            // padding: 6px 25px;
            background: $save-btn-bg;
            color: $save-btn-text;
            border-radius: $border-radius-1;
            border: none;
        }
    }
}

@media (max-width: 460px) {
    .row {
        gap: 50px;
    }
}

@media (max-width: 460px) {
    .profile-container {
        flex-direction: column;
        padding-left: 0px;

        .profile-details {
            align-items: center;
        }
    }
}

// End: user profile view container
